body{
  margin: 0px;
  padding: 0px;

  color: white;

}

.principal{
  color: white;
}

.in{
  color: White;
}

.Mapa{
  color: white;
}
.cont{
  color: White;
}

.Texto1{

  height: 70px;
  width: 400px;
  text-align: center;
  font-size: 15px;
  font-family: arial;
  border-radius: 65px;
  margin-top: 18px;
  margin-left: 810px;
  color: white;

}
.Contenedor{
  background-color: #346ABC;
  height: 100px;
  width: 1348px;
  position: absolute;
  top: 0px;
}
.img1{
  height: 80px;
width: 200px;
position: absolute;
top: 10px;
margin-left: 200px;
}
.Buscar{
  position: absolute;
  top: 50px;
  right: 180px;
  height: 20px;
}
.contenedor1{
  background-color: white;
  height: 100px;
  width: 1366px;
  position: absolute;
  top: 0px;
}

.menu2{
  background-image: linear-gradient(0deg, #FFFFFF,#FAFAFA,#EEEEEE,
#DFDFDF,#CFCFCF,#BFBFBF);
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  margin-left:0PX;
  margin-top: -5px;
  width:1348px;
  height: 50px;
}
.menu2 li{
  display: inline-block;
}
.menu2 li a{
padding: 16px 16px;
  display: inline-block;
  color: black;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
margin-left: 55px;

}
.menu2 li a:hover{
  background: grey;
  color:white;
}

.clas1{
height: 20px;
width: 20px;
position: absolute;
top: 10px;
margin-left: 20px;
}

.contene{
  background-color: black;
  height: 800px;
  width: 1100px;
  position: absolute;
  top: 220px;
  margin-left: 150px;


}

footer{
  position: absolute;
  text-align: center;
  height: 100px;
  width: 1123px;
  margin-left: -200px;
  margin-top: 1000px;
  padding: 10px 213px;
  background: #666;
  color: white;
}

.img5{
  height: 30px;
  width: 140px;
  position: absolute;
  top: 80px;
  margin-left: -50px;

}
