body{
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(100deg, #B2B2B2, #D8D8D8);
  color: white;

}
.principal{
  color: white;
}

.in{
  color: White;
}

.Mapa{
  color: white;
}

.cont{
  color: White;
}

.Contenedor{
  background-color: #346ABC;
  height: 100px;
  width: 1348px;
  position: absolute;
  top: 0px;
}
.Texto1{

  height: 70px;
  width: 400px;
  text-align: center;
  font-size: 15px;
  font-family: arial;
  border-radius: 65px;
  margin-top: 18px;
  margin-left: 780px;
  color: white;

}
.img1{
  height: 80px;
width: 200px;
position: absolute;
top: 10px;
margin-left: 200px;
}
.Buscar{
  position: absolute;
  top: 50px;
  right: 180px;
  height: 20px;
}


.menu2{
  background-image: linear-gradient(0deg, #FFFFFF,#FAFAFA,#EEEEEE,
#DFDFDF,#CFCFCF,#BFBFBF);
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  margin-left:0PX;
  margin-top: -5px;
  width:1348px;
  height: 50px;
}
.menu2 li{
  display: inline-block;
}
.menu2 li a{
padding: 16px 16px;
  display: inline-block;
  color: black;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
margin-left: 55px;

}
.menu2 li a:hover{
  background: grey;
  color:white;
}

.contenedor1{
  background: black;
  height: 1150px;
  width: 1150px;
  position: absolute;
  top: 200px;
  margin-left: 120px;
  opacity: 0.9;
}
.clas1{
height: 200px;
width: 250px;
position: absolute;
top: 50px;
margin-left: 90px;
}
.clas2{
  height: 200px;
  width: 250px;
  position: absolute;
  top: 50px;
  margin-left: 450px;
}
.clas3{
  height: 200px;
  width: 250px;
  position: absolute;
  top: 50px;
  margin-left: 800px;
}
.clas4{
  height: 200px;
  width: 250px;
  position: absolute;
  top: 400px;
  margin-left: 90px;
}
.clas5{
  height: 200px;
  width: 250px;
  position: absolute;
  top: 400px;
  margin-left: 450px;
}
.clas6{
  height: 200px;
  width: 250px;
  position: absolute;
  top: 400px;
  margin-left: 800px;
}
.clas7{
  height: 200px;
  width: 250px;
  position: absolute;
  top: 750px;
  margin-left: 90px;
}
.clas8{
  height: 200px;
  width: 250px;
  position: absolute;
  top: 750px;
  margin-left: 450px;
}
.clas9{
  height: 200px;
  width: 250px;
  position: absolute;
  top: 750px;
  margin-left: 800px;
}

.ti1{
  color: #0E59A4;
  height: 0px;
  width: 150px;
  text-align: center;
  font-size: 30px;
  font-family: calibri;
  margin-top: 250px;
  margin-left: 120px;
  position: absolute;
}
.ti2{
  color: #0E59A4;
  height: 0px;
  width: 150px;
  text-align: center;
  font-size: 30px;
  font-family: calibri;
  margin-top: 250px;
  margin-left: 500px;
  position: absolute;
}
.ti3{
  color: #0E59A4;
  height: 0px;
  width: 150px;
  text-align: center;
  font-size: 30px;
  font-family: calibri;
  margin-top: 250px;
  margin-left: 850px;
  position: absolute;
}
.ti4{
  color: #0E59A4;
  height: 0px;
  width: 150px;
  text-align: center;
  font-size: 30px;
  font-family: calibri;
  margin-top: 600px;
  margin-left: 140px;
  position: absolute;
}
.ti5{
  color: #0E59A4;
  height: 0px;
  width: 150px;
  text-align: center;
  font-size: 30px;
  font-family: calibri;
  margin-top: 600px;
  margin-left: 500px;
  position: absolute;
}
.ti6{
  color: #0E59A4;
  height: 0px;
  width: 200px;
  text-align: center;
  font-size: 30px;
  font-family: calibri;
  margin-top: 600px;
  margin-left: 820px;
  position: absolute;
}
.ti7{
  color: #0E59A4;
  height: 0px;
  width: 150px;
  text-align: center;
  font-size: 30px;
  font-family: calibri;
  margin-top: 960px;
  margin-left: 140px;
  position: absolute;
}
.ti8{
  color: #0E59A4;
  height: 0px;
  width: 150px;
  text-align: center;
  font-size: 30px;
  font-family: calibri;
  margin-top: 960px;
  margin-left: 500px;
  position: absolute;
}
.ti9{
  color: #0E59A4;
  height: 0px;
  width: 150px;
  text-align: center;
  font-size: 30px;
  font-family: calibri;
  margin-top: 960px;
  margin-left: 830px;
  position: absolute;
}
footer{
  position: absolute;
  text-align: center;
  height: 100px;
  width: 922px;
  margin-left: 0px;
  margin-top: 1300px;
  padding: 10px 213px;
  background: #666;
  color: white;
}

.img5{
  height: 30px;
  width: 140px;
  position: absolute;
  top: 80px;
  margin-left: -50px;

}
